* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.img_desktop--light {
  width: 100%;
  opacity: 0.5;
  margin: 0;
}

header {
  /* toto je můj kód
  height: 800px;
  background-image: url("img_desktop.jpg");
  background-position: cover cover;
  background-size: 100%;
  background-repeat: no-repeat;*/

  /* verze Pavlína
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    url('img_desktop.jpg');

  background-size: auto, cover;
  background-position: initial, center center;
  background-repeat: initial, no-repeat;
  height: 1000px; */

  /* verze Ivana */
  background-image: linear-gradient(rgba(255, 255, 255, 0.2),
  rgba(255, 255, 255, 0.2)), url(img_desktop.jpg);
  background-color: rgb(231, 172, 85);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 130vh;
}

.nav__list {
  margin: 0;
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
}

.nav__link {
  text-decoration: none;
  display: inline-block;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 10px;
  background-color: rgb(255, 228, 184);
  font-size: 1.5em;
}

.nav__link:hover,
.nav__link:focus {
  background-color: rgb(255, 218, 157);
}
