* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

header {
  background-image: linear-gradient(rgba(255, 255, 255, 0.2),
  rgba(255, 255, 255, 0.2)), url(img_desktop.jpg);
  background-color: rgb(231, 172, 85);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 130vh;
}

.nav__list {
  margin: 0;
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
}

.nav__link {
  text-decoration: none;
  display: inline-block;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 10px;
  background-color: rgb(255, 228, 184);
  font-size: 1.5em;
}

.nav__link:hover,
.nav__link:focus {
  background-color: rgb(255, 218, 157);
}

.about__heading {
  font-size: 3em;
  width: 50%;
  transform: translate(20vw, 40vh);
}